[submodule "Gitty.Shell"]
	path = Gitty.Shell
	url = git@github.com:kthompson/gitty.shell.git
[submodule "Gitty.Core"]
	path = Gitty.Core
	url = git@github.com:kthompson/gitty.core.git
[submodule "Gitty.Api"]
	path = Gitty.Api
	url = git@github.com:kthompson/gitty.api.git
